<!doctype html>

<!-- TODO Verificar problema da lista de livros sobrepondo o form -->

<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Bem-vindo a Loja de Livros!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>

        <div id="headerWrapper" ng-controller="HeaderCtrl">
            <span class="logo pull-left">{{appDetails.title}}</span>
            <span class="tagline pull-left">{{appDetails.tagline}}</span>
            <div class="nav-wrapper pull-left">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">Livros</a></li>
                    <li><a href="#">Kart</a></li>
                </ul>
            </div>
        </div>
        
        <div id="livroListWrapper" ng-controller="BookListCtrl">
			<form role="form">
			  <div class="form-group">
				<input type="text" class="form-control" placeholder="Pesquise o seu livro aqui...">
			  </div>
			</form>
			<div>
			<ul class="list-unstyled">
				<li class="livro" 
					style="background: white url(imgs/{{livro.imgUrl}}) no-repeat"
					ng-repeat="livro in livros">
					<div class="livro-details clearfix">
						<h3>{{livro.name}}</h3>
						<p>{{livro.price}}</p>
						<ul class="list-unstyled list-inline">
							<li>Rating: {{livro.rating}}</li>
							<li>Binding: {{livro.binding}}</li>
							<li>Publisher: {{livro.publisher}}</li>
							<li>Released: {{livro.releaseDate}}</li>
						</ul>
						<p>{{livro.details}}</p>
						<button class="btn btn-info pull-right" ng-click="addToKart(livro)">Add to Kart</button>
					</div>
				</li>
			</ul>
		</div>

    </body>
</html>
